{% extends "base.html" %} 

{% block content %}
    <div>
      <h2>Heart disease predictor</h2>
      <p>
        Try out our machine learning model found below. Fill in the information and see whether or not you have a heart disease. 
      </p>
      <br />
      <form method="POST" action="">
        {% csrf_token %}
        <div class="row gtr-uniform">
            <div class="col-6 col-12-xsmall">
                <input type="number" name="Age" id="Age" value="" placeholder="Age" required/>
            </div>
            <div class="col-6 col-12-xsmall">
                <select name="Sex" id="Sex" required>
                    <option value="">- Gender -</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
            <!-- Break -->
            <div class="col-12">
                <select name="ChestPainType" id="ChestPainType" required>
                    <option value="">- Chest Pain Type -</option>
                    <option value="TA">TA</option>
                    <option value="ASY">ASY</option>
                    <option value="NAP">NAP</option>
                    <option value="ATA">ATA</option>
                </select>
            </div>
            <!-- Break -->
            <div class="col-6 col-12-xsmall">
                <input type="number" name="RestingBP" id="RestingBP" value="" placeholder="Resting BP (0 and 200)" required/>
            </div>
            <div class="col-6 col-12-xsmall">
                <input type="number" name="Cholesterol" id="Cholesterol" value="" placeholder="Cholesterol (0 and 603)" required/>
            </div>
            <!-- Break -->
            <div class="col-12">
                <select name="FastingBS" id="FastingBS" required>
                    <option value="">- Fasting Blood Sugar -</option>
                    <option value="0">Below 120mg/dl</option>
                    <option value="1">Above 120mg/dl</option>
                </select>
            </div>
            <!-- Break -->
            <div class="col-12">
                <select name="RestingECG" id="RestingECG" required>
                    <option value="">- Resting ECG -</option>
                    <option value="Normal">Normal</option>
                    <option value="LVH">LVH</option>
                    <option value="ST">ST</option>
                </select>
            </div>
            <!-- Break -->
            <div class="col-6 col-12-xsmall">
                <input type="number" name="MaxHR" id="MaxHR" value="" placeholder="Max HR (60 and 202)" required/>
            </div>
            <div class="col-6 col-12-xsmall">
                <select name="ExerciseAngina" id="ExerciseAngina" required>
                    <option value="">- Exercise-Induced Angina -</option>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
            </div>
            <!-- Break -->
            <div class="col-12">
                <input type="number" name="Oldpeak" id="Oldpeak" value="" placeholder="Oldpeak -2.6 and 6.2" required/>
            </div>
            <!-- Break -->
            <div class="col-12">
                <select name="ST_Slope" id="ST_Slope" required>
                    <option value="">- ST Slope -</option>
                    <option value="Flat">Flat</option>
                    <option value="Up">Up</option>
                    <option value="Down">Down</option>
                </select>
            </div>

            <div class="col-12">
              <input type="string" name="email" id="email" value="" placeholder="Email" required/>
            </div>
            <!-- Break -->
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="Predict" class="primary" /></li>
                </ul>
            </div>
        </div>
      </form>
      <br /><br />
      {% if error != "" %}
        <p>{{ error }}</p>
      {% endif %}
    </div>
{% endblock %}