{% extends "base.html" %} 

{% block content %}
    <div>
      <h2>Artery Alert</h2>
      <p>
        This web application is developed as part of the A.I. minor for the subject Human Centric A.I. Design. 
        The assignment for this subject involves the creation of two machine learning applications, both trained on the same dataset but with contrasting ethical approaches. 
        Both applications are designed to predict the likelihood of heart disease based on user-provided health information. 
        To get started with the demonstraton of either the good or bad version of the application you can simply look to the menu bar in the top left.
      </p>
      <p>
        Another part of the assignment was the creation of a poster, which explains the two applications and how they deal with the ethical issues of privacy, bias and explainability. 
        This poster is also shown here below.  
      </p>
      <p>
        [image of the poster]
      </p>
{% endblock %}