.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 339px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1316px;
}

.u-section-2 .u-image-1 {
  width: 481px;
  height: 481px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 158px auto 0 659px;
}

.u-section-2 .u-image-2 {
  width: 415px;
  height: 415px;
  background-position: 28.18% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 171px auto 0 698px;
}

.u-section-2 .u-image-3 {
  width: 446px;
  height: 446px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -415px auto 0 0;
}

.u-section-2 .u-image-4 {
  width: 500px;
  height: 500px;
  background-position: 3.93% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -1137px auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 723px;
  height: 723px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -237px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 66px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 700;
  border-style: solid;
  margin: 40px auto 0;
  padding: 16px 52px 16px 51px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 433px;
    height: 433px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-left: 525px;
  }

  .u-section-2 .u-image-4 {
    width: 471px;
    height: 471px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 359px;
    height: 359px;
  }

  .u-section-2 .u-image-2 {
    width: 391px;
    height: 391px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    width: 398px;
    height: 398px;
  }

  .u-section-2 .u-image-4 {
    width: 377px;
    height: 377px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    height: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 65px;
    margin-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 584px;
    height: 584px;
    margin-left: -22px;
    margin-right: -22px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-2 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-top: -340px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -1031px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    margin: -77px -122px 9px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 120px;
    padding-right: 120px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 403px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-3 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px auto 0;
}

.u-section-3 .u-accordion-1 {
  width: 1140px;
  margin: 30px 0 60px;
}

.u-section-3 .u-accordion-link-1 {
  font-weight: 700;
  padding: 25px 20px;
}

.u-section-3 .u-icon-1 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px 20px;
}

.u-section-3 .u-accordion-link-2 {
  font-weight: 700;
  padding: 25px 20px;
}

.u-section-3 .u-icon-2 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 20px 20px;
}

.u-section-3 .u-accordion-link-3 {
  font-weight: 700;
  padding: 25px 20px;
}

.u-section-3 .u-icon-3 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px 20px;
}

.u-section-3 .u-accordion-link-4 {
  font-weight: 700;
  padding: 25px 20px;
}

.u-section-3 .u-icon-4 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255);
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-5 {
  font-weight: 700;
  padding: 25px 20px;
}

.u-section-3 .u-icon-5 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255);
}

.u-section-3 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-6 {
  font-weight: 700;
  padding: 25px 20px;
}

.u-section-3 .u-icon-6 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255);
}

.u-section-3 .u-accordion-pane-6 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px;
}

.u-section-3 .u-accordion-link-7 {
  font-weight: 700;
  padding: 25px 20px;
}

.u-section-3 .u-icon-7 {
  height: 15px;
  width: 15px;
  background-image: none;
  color: rgb(255, 255, 255);
}

.u-section-3 .u-accordion-pane-7 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-7 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-accordion-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-accordion-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-accordion-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 734px;
}

.u-section-4 .u-form-1 {
  margin-bottom: 60px;
  height: 241px;
  margin-top: 0;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-form-group-3 {
  margin-left: 0;
}

.u-section-4 .u-form-group-4 {
  margin-left: 0;
}

.u-section-4 .u-form-group-5 {
  margin-left: 0;
}

.u-section-4 .u-form-group-6 {
  margin-left: 0;
}

.u-section-4 .u-form-group-7 {
  margin-left: 0;
}

.u-section-4 .u-form-group-8 {
  margin-left: 0;
}

.u-section-4 .u-form-group-9 {
  margin-left: 0;
}

.u-section-4 .u-form-group-10 {
  margin-left: 0;
}

.u-section-4 .u-form-group-11 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}

.u-section-4 .u-btn-1 {
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}

.u-section-4 .u-btn-1 {
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}